language: python

python:
  - "2.7"
  - "3.4"

before_install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq

install:
  - sudo apt-get install -qq gcc-4.8 g++-4.8
  - CC=g++-4.8 python setup.py install

script:
  - python setup.py test
  - (cd src && CC=gcc-4.8 CXX=g++-4.8 make -f Makefile-custom test)
